@import './../../../styles/shared.scss';
.tools {
  display: flex;
  .toolsList {
    display: flex;
  }
}

.toolsListItem {
  display: flex;
  align-items: center;
}

.toolsIcons {
  width: 24px;
  height: 24px;
  margin-left: 20px;
  fill: $light-color;
  &:hover {
    fill: $mainAccent-color;
    cursor: pointer;
  }
}

.toolsBigHead {
  height: 50px;
  width: 50px;
  margin-top: -4px;
  margin-left: 40px;
  transition: all 0.3s ease;
  &:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
  }
}
