@import './../../../styles/shared.scss';
.mainLogo {
  display: flex;
  padding-left: 12px;
  margin-bottom: 14px;
  justify-content: center;
  .mainLogoLogo {
    margin-right: 8px;
  }
  .mainLogoTitle {
    font-size: 30px;
    opacity: 0.5;
  }
}

.link {
  color: $primary-color;
}

.activeLink {
  color: $mainDark-color;

  opacity: 0.5;
}
