.productsList {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  justify-content: center;
}

.productListItem {
  width: 30%;
}

.productNav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.inputFilter {
  width: 300px;
  border: none;
}

// **deatils
.productDetailsTitle {
  font-size: 18px;
  font-weight: 700;
}

.productDetailsText {
  margin-bottom: 16px;
}

.productDetailsBlock {
  display: flex;
  gap: 24px;
  line-height: 2;
  align-items: center;
}
.productDetailsWrapper {
  text-align: center;
}
