@import './../../../styles/shared.scss';
.searchBar {
  color: $light-color;
  fill: $light-color;
}

.searchLogo {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.searchInput {
  border: none;
  outline: none;
}

.searchLabel {
  display: flex;
}
