@import './../../node_modules/modern-normalize/modern-normalize.css';
@import './shared.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $primary-font-stack;
  line-height: 1.5;
  font-size: 15px;
  color: $primary-color;
  background-color: $background-color;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
}

li {
  list-style: none;
}
