@import './../../styles/shared.scss';
.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  height: 62px;
  margin-bottom: 26px;
  background-color: $mainLight-color;
  border-radius: 8px;
}
