.counter {
}
.centered {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 8px;
  gap: 18px;
}

.wrap {
  margin-top: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 300px;
}

.hiddenBlock {
  margin-left: 24px;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}
