@import './../../styles/shared.scss';
.navigation {
  background: $mainLight-color;
  width: 260px;
  min-height: 1000px;
  padding-top: 23px;
  padding-left: 17px;
  padding-right: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.link {
  color: $primary-color;
  padding-left: 15px;
  padding-right: 13px;
  padding-top: 8px;
  padding-bottom: 9px;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.activeLink {
  composes: link;
  color: $mainDark-color;
  background-color: $mainAccent-color;
  opacity: 0.5;
}
